@font-face {
    font-family: "Roboto";
    font-style: normal;
    src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    src: url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    src: url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
    font-weight: 700;
}

:root {
    --basic-white: #ffffff;
    --basic-black: #323232;
    --postal-color: #5A5A5A;
    --placeholder-color: #999999;
    --background-first: #849D8F;
    --background-second: #8996A6;
    --background-third: #9D8B84;
    --btn-color-gradient-first: #F26843;
    --btn-color-gradient-second: #E74A35;
    --background-feedback-form: #FEFEFE;
    --background-form: #F8F7F4;
    --background-hover: rgba(255, 255, 255, 0.2);
    --background-active: rgba(0, 0, 0, 0.07);
    --link-hover-color: #E84D37;
    --background-catalog: rgba(255, 255, 255, 0);
    --price-color: #ABABAB;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
    color: var(--basic-white);

    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;

    padding-left: 27px;
    padding-right: 27px;
    background-color: var(--background-first);
    width: 1200px;

    box-sizing: border-box;
}

.page {
    height: 100%;
}

.index-body {
    }

.button {
    background: linear-gradient(180deg, var(--btn-color-gradient-first)0%, var(--btn-color-gradient-second) 100%);
    font-weight: 700;
    border-radius: 70px;
    border: none;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    color: var(--basic-white);
}

.button:hover {
    background: linear-gradient(0deg, var(--background-hover), var(--background-hover)),
     linear-gradient(180deg,var(--btn-color-gradient-first)0%, var(--btn-color-gradient-second) 100%);
}

.button:active {
    background: linear-gradient(0deg, var(--background-active), var(--background-active)), 
    linear-gradient(180deg, var(--btn-color-gradient-first)0%, var(--btn-color-gradient-second) 100%);
}

ol,
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--basic-white);
}

input {
    color: var(--placeholder-color);
}
.container-index h1,
.authorization h2,
.copyright h2,
.features h2,
.feedback h2,
.contacts-footer h2,
.social h2,
.products-container h2,
.menu h2,
.search h2,
.service-info h2,
.subscription h2,

/* catalog */
.basket-header,
.filters h2 {
    display: none;
}

.main-header{
    margin-top: 9px;
}
/* Main navigation */

.nav-container {
    display: grid;
    grid-template-columns: auto 1fr;
}

.main-navigation {
    display: grid;
    justify-content: space-between;
    grid-auto-flow: column;
}

.site-navigation{
    display: flex;
}
.site-nav-item:not(:last-child){
    margin-right:32px; 
}

.site-nav-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
}

.basket-link,
.login-link,
.search-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.working-info-container {
    width: 100%;
    display: grid;
    justify-content: end;
    text-align: end;
    row-gap: 8px;
}

.working-hours {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin: 0;

}

.phone {
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    margin: 0;
}

/* Menu */
.authorization,
.feedback,
.menu,
.search {
    display: none;
}
.menu-link {
    color: var(--basic-black);
    font-size: 14px;
    line-height: 16px;
}

.menu-news-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}

/* Search */

.authorization-form input,
.search-form input {
    font-size: 14px;
    line-height: 16px;
}

/* Autorization */

.authorization-link {
    font-size: 13px;
    line-height: 15px;
}

/* Sliders */

.container-index {
    width: 100%;
    display: grid;
    row-gap: 40px;
    margin-top: 41px;
    margin-bottom: 40px;
}

.sliders-container {
    display: grid;
    justify-content: space-around;
}

.slider-header {
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
}

.slider-button {
    font-size: 32px;
    line-height: 44px;
    width: 261px;
    height: 62px;
    margin: auto;
}

.slider-item {
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
}

.slider-item:nth-child(2) {
    display: none;
}

.slider-item:nth-child(3) {
    display: none;
}

/* Promotions */
.banners-container {
    display: grid;
    column-gap: 26px;
    grid-template-columns: repeat(2, 560px);
}

.promotion {
    width: 560px;
    height: 229px;
    background-repeat: no-repeat;
    
    font-weight: 700;
    padding: 16px 22px 22px 16px;
    box-sizing: border-box;

}

.promotion-first {
    background-image: url("../img/index/crimson_background.jpg");
    border-radius: 16px;
}

.promotion-second {
    background-image: url("../img/index/chocolate_background.jpg");
    border-radius: 16px;
}

.promotion-header {
    font-size: 35px;
    line-height: 41px;
    margin:0; 
}

.promotion-text {
    font-size: 18px;
    line-height: 22px;
}

.promotion-button {
    font-size: 18px;
    line-height: 24px;
    margin-left: 22px; 
}

.set-jam-button-container{
    display: flex;
    justify-content: flex-end;
}

.set-jam-button{
    width: 164px;
    height: 48px;
    display: flex;
    align-items: center;

}
.set-chocolate-button{
    width: 191px;
    height: 48px;
    display: flex;
    align-items: center;
}

.set-chocolate-button-container{
    display: flex;
    justify-content: flex-end;
}


/* Hits */

.products-list {
    padding: 0;
    margin: 0;
    display: grid;
    column-gap: 26px;
    row-gap: 40px;
    grid-template-columns: repeat(4, 267px);
}

.open-view-button {
    display: none;
}

.product {
    margin: 0;
    position: relative;
}

.product-img{
    border-radius: 50%;
}

.price-kg-container{
    position: absolute;
    top: 216px;
}

.price {
    font-weight: 700;
    font-size: 45px;
    line-height: 45px;

}

.kg {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
}

.product-label {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    margin-top: 13px;
}

/* Features */

.features {
    background-image: url("../img/index/pattern_waffle.jpg");
    color: var(--basic-black);
    border-radius: 16px;
    width: 1146px;
    height: 306px;
    padding: 24px 23px 36px 20px; 
    box-sizing: border-box;
}

.features-main-description {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}

.features-text {
    font-size: 16px;
    line-height: 22px;
    margin: 0; 
}

.features-list{
    margin-top: 21px;
    display: flex;
    flex-wrap: wrap;
}

.ice-cream-text, .leaf-text{
    width: 485px;
    margin-right: 81px;
}

.cow-text, .thermometer-text{
    width: 482px
}

.leaf-text, .thermometer-text{
    margin-top: 33px
}
/* News */

.news-container {
    display: grid;
    column-gap: 26px;
    grid-template-columns: repeat(2, 560px);
}

.news {
    background-image: url("../img/index/strawberry_background.jpg");
    width: 560px;
    height: 220px;
    border-radius: 16px;
}

.news-header {
    margin: 0; 
    margin-top: 23px;
    margin-left: 20px; 

    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: var(--basic-black);
}

.news-link {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: var(--basic-black);
    text-decoration: underline;

}

.news-link-container{
    width: 287px; 
    margin-top: 15px;
    margin-left: 20px; 

}

.news-link:hover {
    color: var(--link-hover-color);

}

/* Subscription */

.subscription-container {
    background-image: url("../img/index/postal_background.jpg");
    width: 560px;
    height: 220px;
    border-radius: 16px;
    color: var(--postal-color);
}

.subscription {
    background-color: var(--background-form);
    width: 548px;
    height: 210px;
    border-radius: 16px;
    margin: 5px 6px;
    padding: 29px 16px 35px 20px; 
    box-sizing: border-box;
}

.subscription-form{
    margin-top: 47px; 
}

.subscription-email-input{
    width: 368px;
    height: 44px;
    box-sizing: border-box;
}

.send-button{
    margin-left: 10px;
    width: 130px;
    height: 44px;
}

.subscription-text {
    font-size: 16px;
    margin: 0;
}

/* Footer */

.main-footer {
}

.map {
    display: none;
}

.contacts-container {
    width: 303px;
    height: 306px;
    background-color: var(--background-feedback-form);
    border-radius: 16px;
    color: var(--basic-black);
    padding: 32px 25px 31px 25px;
    box-sizing: border-box;
}

.contacts-address {
    margin: 0;
}

.contacts {
    font-weight: 700;
    line-height: 24px;
    color: var(--basic-black);
}

.feedback-button{
width: 253px;
height: 43px;
display: flex;
align-items: center;
padding-left: 28px; 
box-sizing: border-box;

}

.social-footer {
    display: grid;
    justify-content: space-between;
    grid-auto-flow: column;
    height: 103px; 
}

.social, .service-info{
    margin-top: 36px; 
}

.social-label {
    display: none;
}

.social-list{
    display: flex;
    padding: 0;
    margin: 0; 
}

.social-item:not(:last-child){
    margin-right: 12px;
}

.service-info-list{
    width: 305px; 
    padding: 0;
    margin: 0; 
    height: 35px; 
    display: flex; 
    flex-wrap: wrap;
   justify-content: space-between;
}

.service-info-item{
    width: 111px; 
}
.service-info-item:nth-child(2n){
    width: 162px; 
}

.service-info-link {
    color: var(--basic-white);
    font-size: 13px;
    line-height: 18px;

}

.copyright{
    margin-top: 8px;
}
.copyright-text {
    font-size: 12px;
    line-height: 18px;
    margin-top: 8px
}

.feedback-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: var(--basic-black);
}

/* CATALOG */

/*basket*/

.basket{
    display: none;
}

.catalog-body {
    background-color: var(--background-first);
}

.basket-table-row,
.product-link {
    font-size: 13px;
    line-height: 16px;
    color: var(--basic-black);
}

.price-one-product {
    color: var(--price-color);
}

.total-price-column {
    font-size: 15px;
    line-height: 16px;
    font-weight: 500;
}

.container-catalog{
    margin-bottom: 30px;
}

/* bread-crumbs */

.bread-crumbs {
    font-size: 14px;
    line-height: 16px;
    display: flex;
    padding: 0
}


.bread-crumbs-item:not(:last-child){
    margin-right: 22px;
}
.catalog-header {
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
    margin: 0; 
    margin-bottom: 29px;
}

/* filters */
.filters{
    margin-bottom: 40px;
}

.filters-form{
    display: flex;
    width: 869px;
    flex-wrap: wrap;
}

.sort-filter-container{
    width: 196px;
    padding: 0; 
    margin: 0; 
    border: none;  
}

.price-filter-container{
    width: 218px;
    padding: 0; 
    margin: 0; 
    border: none;  
}

.fat-content-filter{
    width: 425px;
    padding: 0; 
    margin: 0; 
    border: none;  
}
.fat-content-list, .fillers-list{
    display: flex;
}

.fat-content-item:not(:last-child){
    margin-right: 19px; 
}

.fillers-filter{
    width: 711px;
    border: none;  
    margin: 0; 
    padding: 0; 
}

.fillers-list{
    padding: 0; 
    margin: 0; 
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

.fillers-list, .fat-content-list{
    height: 36px; 
    padding: 0; 
    margin: 0; 
}

.fillers-item{
    margin-top:8px;
}
.filter-chocolate, .filter-powdered-sugar{
    margin-right: 8px;
    margin-left: 16px;
}

.filter-chocolate-item{
    margin-right: 20px;
}
.filter-powdered-sugar-item{
    margin-right: 22px;
}

.filter-fruits{
    margin-right: 14px;
}

.filter-fruits-item{
    margin-right: 24px;
}

.filter-syrups{
    margin-right: 12px;
}

.filter-syrups-item{
    margin-right: 21px;
}

.filter-jams{
    margin-right: 13px;
}

.fillers-label{
    margin-bottom: 11px;
}

.filter-label {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 7px;
}

.apply-button{
    width: 144px;
    height: 36px; 
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid var(--basic-white);
    box-sizing: border-box;
    border-radius: 20px;
    color: var(--basic-white);
    font-weight: 500;
font-size: 16px;
line-height: 18px;
}

.catalog-pages-list{
    margin-bottom: -3px;
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
    width: 100%
}

.previous-catalog-pages{
    margin-right: 24px;
}

.number-catalog-pages:not(:last-child){
    margin-right: 22px;
}

.next-catalog-pages{
    margin-right: 26px;
}
/* catalog-pages-list */

.catalog-pages-list,
.filters {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}
