@font-face {
    font-family: "Roboto";
    font-style: normal;
    src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    src: url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    src: url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
    font-weight: 700;
}

:root {
    --basic-white: #ffffff;
    --basic-black: #323232;
    --postal-color: #5A5A5A;
    --placeholder-color: #999999;
    --background-first: #849D8F;
    --background-second: #8996A6;
    --background-third: #9D8B84;
    --btn-color-gradient-first: #F26843;
    --btn-color-gradient-second: #E74A35;
    --background-feedback-form: #FEFEFE;
    --background-form: #F8F7F4;
    --background-hover: rgba(255, 255, 255, 0.2);
    --background-active: rgba(0, 0, 0, 0.07);
    --link-hover-color: #E84D37;
    --background-catalog: rgba(255, 255, 255, 0);
    --price-color: #ABABAB;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
    color: var(--basic-white);

    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;

    padding-left: 27px;
    padding-right: 27px;
    background-color: var(--background-first);
    width: 1200px;
}

.page {
    height: 100%;
}

.index-body {
    }

.button {
    background: linear-gradient(180deg, var(--btn-color-gradient-first)0%, var(--btn-color-gradient-second) 100%);
    font-weight: 700;
    border-radius: 70px;
    border: none;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    color: var(--basic-white);
}

.button:hover {
    background: linear-gradient(0deg, var(--background-hover), var(--background-hover)),
     linear-gradient(180deg,var(--btn-color-gradient-first)0%, var(--btn-color-gradient-second) 100%);
}

.button:active {
    background: linear-gradient(0deg, var(--background-active), var(--background-active)), 
    linear-gradient(180deg, var(--btn-color-gradient-first)0%, var(--btn-color-gradient-second) 100%);
}

ol,
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--basic-white);
}

input {
    color: var(--placeholder-color);
}
.container h1,
.authorization h2,
.copyright h2,
.features h2,
.feedback h2,
.contacts-footer h2,
.social h2,
.products-container h2,
.menu h2,
.search h2,
.service-info h2,
.subscription h2,

/* catalog */
.basket-header h2,
.filters h2,
.products-container h2 {
    display: none;
}

/* Main navigation */

.nav-container {
    display: grid;
    grid-template-columns: auto 1fr;
}

.main-navigation {
    display: grid;
    justify-content: space-between;
    grid-auto-flow: column;
}

.site-nav-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
}

.basket-link,
.login-link,
.search-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.working-info-container {
    width: 100%;
    display: grid;
    justify-content: end;
    text-align: end;
    row-gap: 8px;
}

.working-hours {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin: 0;

}

.phone {
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    margin: 0;
}

/* Menu */
.authorization,
.feedback,
.menu,
.search {
    display: none;
}
.menu-link {
    color: var(--basic-black);
    font-size: 14px;
    line-height: 16px;
}

.menu-news-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}

/* Search */

.authorization-form input,
.search-form input {
    font-size: 14px;
    line-height: 16px;
}

/* Autorization */

.authorization-link {
    font-size: 13px;
    line-height: 15px;
}

/* Sliders */

.container {
    width: 100%;
    display: grid;
    row-gap: 40px;
    margin-top: 41px;
}

.sliders-container {
    display: grid;
    justify-content: space-around;
}

.slider-header {
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
}

.slider-button {
    font-size: 32px;
    line-height: 44px;
    width: 261px;
    height: 62px;
    margin: auto;
}

.slider-item {
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
}

.slider-item:nth-child(2) {
    display: none;
}

.slider-item:nth-child(3) {
    display: none;
}

/* Promotions */
.banners-container {
    display: grid;
    column-gap: 26px;
    grid-template-columns: repeat(2, 560px);
}

.promotion {
    width: 560px;
    height: 229px;
    background-repeat: no-repeat;
    border-radius: 16px;
    font-weight: 700;
}

.promotion-first {
    background-image: url("../img/index/crimson_background.jpg");
}

.promotion-second {
    background-image: url("../img/index/chocolate_background.jpg");
}

.promotion-header {
    font-size: 35px;
    line-height: 41px;
}

.promotion-text {
    font-size: 18px;
    line-height: 22px;
}

.promotion-button {
    font-size: 18px;
    line-height: 24px;
}

/* Hits */

.products-list {
    padding: 0;
    margin: 0;
    display: grid;
    column-gap: 26px;
    grid-template-columns: repeat(4, 267px);

}

.open-view-button {
    display: none;
}

.product {
    width: 267px;
    border-radius: 50%;
    margin: 0;
}

.price {
    font-weight: 700;
    font-size: 45px;
    line-height: 45px;
}

.kg {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
}

.product-label {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

/* Features */

.features {
    background-image: url("../img/index/pattern_waffle.jpg");
    color: var(--basic-black);
    border-radius: 16px;
    width: 1146px;
    height: 306px;
}

.features-main-description {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}

.features-text {
    font-size: 16px;
    line-height: 22px;
}

/* News */

.news-container {
    display: grid;
    column-gap: 26px;
    grid-template-columns: repeat(2, 560px);
}

.news {
    background-image: url("../img/index/strawberry_background.jpg");
    width: 560px;
    height: 220px;
    border-radius: 16px;
}

.news-header {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: var(--basic-black);
}

.news-link {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: var(--basic-black);
    text-decoration: underline;
}

.news-link:hover {
    color: var(--link-hover-color);

}

/* Subscription */

.subscription-container {
    background-image: url("../img/index/postal_background.jpg");
    width: 560px;
    height: 220px;
    border-radius: 16px;
    color: var(--postal-color);
}

.subscription {
    background-color: var(--background-form);
    width: 548px;
    height: 210px;
    border-radius: 16px;
    margin: 5px 6px;
}

.subscription-text {
    font-size: 16px;
    margin: 0;
}

/* Footer */

.main-footer {
    margin-top: 40px;
}

.map {
    display: none;
}

.contacts-container {
    width: 303px;
    height: 306px;
    background-color: var(--background-feedback-form);
    border-radius: 16px;
    color: var(--basic-black);
}

.contacts-address {
    margin: 0;
}

.contacts {
    font-weight: 700;
    line-height: 24px;
    color: var(--basic-black);
}

.social-footer {
    display: grid;
    justify-content: space-between;
    grid-auto-flow: column;
}

.social-label {
    display: none;
}

.service-info-link {
    color: var(--basic-white);
    font-size: 13px;
    line-height: 18px;
}

.copyright-text {
    font-size: 12px;
    line-height: 18px;
}

.feedback-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: var(--basic-black);
}

/* CATALOG */

/*basket*/

.catalog-body {
    background-color: var(--background-first);
}

.backet-table-row,
.product-link {
    font-size: 13px;
    line-height: 16px;
    color: var(--basic-black);
}

.price-one-product {
    color: var(--price-color);
}

.total-price-column {
    font-size: 15px;
    line-height: 16px;
    font-weight: 500;
}

/* bread-crumbs */

.bread-crumbs {
    font-size: 14px;
    line-height: 16px;
}

.catalog-header {
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
}

/* filters */

.filter-label {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

/* catalog-pages-list */

.catalog-pages-list,
.filters {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}
